
		<div class="catTitle"><h1>Registreeru</h1></div>
		<div id="login-box"> 
			<form method="post" action="?mode=newacc">
				<label>Kasutajanimi:</label><input type="text" name="username" value="<?php echo isset($_POST['username']) ? $_POST['username'] : ''?>"><br>
				<label>E-mail:</label><input type="text" name="email" value="<?php echo isset($_POST['email']) ? $_POST['email'] : ''?>"><br>
				<label>Salsõna:</label><input type="password" name="pwd"> <br>
				<label>Salsõna uuesti:</label><input type="password" name="pwd2"> <br>
				<input type="submit" value="Registreeru" style="margin-left:160px;">
			</form>
		</div>
		<?php if (isset($errors)):?>
			<?php foreach($errors as $error):?>
				<div id="login-error">
					<?php echo htmlspecialchars($error); ?>
				</div>
			<?php endforeach;?>
		<?php endif;?>
	</div>
	<div id="clear"></div>